header {
    width: 100%;
    height: 460px;
    flex-shrink: 0;
    background-image: url('../img/Header\ Background.png');
    background-size: 100% 100%;

    display: flex;
    place-content: center;
    place-items: center;
}

.head-content {



    width: 800px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 15px;

}

.head-content .h1texto {
    width: 313px;
    color: #FFF;

    text-align: center;
    font-family: 'Luckiest Guy';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.head-content .p1texto {
    width: 757px;
    color: #FFF;

    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.butoes {

    display: flex;
    align-items: flex-start;
    gap: 16px;


}

.butoes .white {

    width: 205px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #FFF;

    /* texto do botão  */

    color: #23272A;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.butoes .black {


    width: 281px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #23272A;
    /* texto do botão  */

    color: #FFF;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.black,
.white {

    border: none;


}

@media screen and (max-width: 790px) {
    header {
        width: 100%;
        height: 580px;
        flex-shrink: 0;
        background-image: url('../img/Header\ mobile\ Background.png');

    }

    .head-content {
        width: 500px;
        height: 480px;

    }

    .head-content .h1texto {


        width: 278px;
        height: 130px;

        text-align: start;
        margin-right: 100px;

    }

    .head-content .p1texto {

        width: 90%;
        text-align:start ;


    }


    .butoes {
        width: 100%;
        place-items: center;
        flex-direction: column;
    }

    .butoes .black,
    .butoes .white {

        width: 98%;
        height: 54px;
        flex-shrink: 0;
    }



}

@media screen and (max-width: 450px) {

    header {
        width: 100%;
        height: 580px;
        flex-shrink: 0;
        background-image: url('../img/Header\ mobile\ Background.png');

    }

    .head-content {
        width: 100%;
        height: 520px;


    }

    .head-content .h1texto {


        width: 238px;
        height: 140px;

        text-align: start;
        margin-right: 47px;

    }

    .head-content .p1texto {

        width: 90%;

    }


    .butoes {


        place-items: center;
        flex-direction: column;
    }

    .butoes .black,
    .butoes .white {

        width: 260px;
        height: 48px;
        flex-shrink: 0;
    }





}